<!-- <footer class="footer-distributed">
HI
    <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="#">Home</a>

            <a href="#">Blog</a>

            <a href="#">Pricing</a>

            <a href="#">About</a>

            <a href="#">Faq</a>

            <a href="#">Contact</a>
        </p>

        <p>Company Name &copy; 2015</p>
    </div> -->

<!-- </footer> -->

<div class="footer">
    <div class="contacts">
        <h3>Communication is key! Here is where to find us:</h3>
        <ul>
            <li>
                <p class="label">Social media:</p>
                <a class="info" href="http://facebook.com">Facebook</a>
                <a class="info" href="http://instagram.com">Instagram</a>
            </li>
            <li>
                <p class="label">Phone number:</p>
                <p class="info"> +359 645 524 518</p>
            </li>
            <li>
                <p class="label">Email address:</p>
                <p class="info">findAGame@gmail.com</p>
            </li>
        </ul>
    </div>
</div>