/* You can add global styles to this file, and also import other style files */
body{
    // background-color:bisque;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html {
    background: url(emilio-garcia-AWdCgDDedH0-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// footer {
//     margin-top: auto;
// }



